* {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.title {
  font-size: 2rem;
  margin: 0 auto;
  margin-top: 145px;
  text-align: center;
}

.divider {
  margin: 0 auto;
  margin-top: 20px;
  width: 70px;
  height: 3px;
  text-align: center;
  color: #9D653B;
  background-color: #9D653B;
}

.intro {
  width: 100%;
  height: 670px;
  margin: 0 auto;
  background: url("img/basket-shrooms.jpeg") no-repeat;
  background-size: cover;
  background-color: brown;
  opacity: 0.95;
}

.greeting {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  
}

.greeting-wrapper {
  margin-top: 200px;
  position: absolute;
  width: 100%;
}

.greeting h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

.greeting h3 {
  font-size: 1.5rem;
}

.greeting #learn-more {
  background-color: transparent;
  background-repeat: no-repeat;
  border: solid 2px #fff;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  padding: 15px;
  width: 150px;
}

#learn-more:hover {
  cursor: pointer;
}

.services {
  margin-top: -20px;
}

.services p {
  margin: 0 auto;
  margin-top: 30px;
  width: 85%;
  text-align: center;
}

.services-list {
  display: flex;
  margin-top: 70px;
  text-align: center;
  margin-bottom: 0px;
  margin-left: 50px;
  margin-right: 50px;
  height: 450px;
}

.services-list h3 {
  margin-bottom: -20px;
}

.services-list i {
  font-size: 45px;
  margin-bottom: 20px;
  color: #9D653B;
}

.education {
  background-color: #F6F6F6;
  padding-top: 25px;
  margin-top: -75px;
  height: auto;
}

.education p {
  margin: 0 auto;
  margin-top: 30px;
  width: 85%;
  text-align: center;
}

.button-list {
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  width: 100%;
}

.gallery {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px; 
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.gallery img {
  width: 40%;
  padding: 10px;
  height: auto;
}

.gallery .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #FFF;
}
.gallery:hover .after {
  display: block;
  background: rgba(0, 0, 0, .6);
}

/* Nav Bar */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav a {
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 10px;
 
}

.changeColor {
  background-color: #2F2A2A;
  transition: all 1.5s;
}

nav li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.78rem;
}

nav li a:hover {
  color: darkslategrey;
}

nav ul.logo {
  flex-grow: 0.8;
}

nav ul.logo a {
  font-size: 1.2rem !important;
  color: #fff !important;
}

